/* Cart.css */

.cart-container {
  padding: 2rem;
  background-color: #f4f4f9;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.cart-title {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

.cart-empty {
  text-align: center;
  font-style: italic;
  color: #555;
  margin-top: 2rem;
}

.cart-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.cart-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cart-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.item-info {
  flex: 1;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 0.95rem;
  padding: 4px 8px;
}

.item-name {
  padding: 4px 8px;
  background-color: #e9e8e8;
  border-radius: 6px;
  display: flex;
  gap: 0.5rem; /* Adjust as needed */
  align-items: center;
}

.item-actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.action-btn,
.remove-btn,
.order-btn,
.dashboard-btn {
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s, transform 0.2s;
}

.action-btn {
  background-color: #007bff;
}

.action-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.remove-btn {
  background-color: rgb(216, 53, 53);
}

.remove-btn:hover {
  background-color: rgb(190, 30, 30);
  transform: scale(1.05);
}

.order-btn-container,
.dashboard-btn-container {
  margin-top: 2rem;
  text-align: center;
}

.order-btn {
  background-color: rgb(34, 179, 34);
}

.order-btn:hover {
  background-color: rgb(8, 190, 8);
  transform: scale(1.05);
}

.dashboard-btn {
  background-color: #6c757d;
}

.dashboard-btn:hover {
  background-color: #545b62;
  transform: scale(1.05);
}
